aiofiles
aiohttp
beautifulsoup4
hachoir
lyricsgenius
motor
ntgcalls
pillow
psutil
py-tgcalls==2.2.11
PyTgCrypto
python-dotenv
requests
speedtest-cli
spotipy
unidecode
uvloop==0.21.0
yt-dlp[default]>=2026.3.17
bgutil-ytdlp-pot-provider==2.0.0
Kurigram==2.2.24
PyYAML~=6.0.3

aiogram @ https://github.com/aiogram/aiogram/archive/52889dbd34608bc1cc307279c2a955575fc77ba5.zip
